<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jestful="http://www.qfoxtech.com/schema/jestful"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.qfoxtech.com/schema/jestful http://www.qfoxtech.com/schema/jestful/jestful-1.0.0.xsd">

    <bean id="jestfulMappingRegistry" class="org.qfox.jestful.server.JestfulMappingRegistry"/>
    <bean id="jestfulVersionComparator" class="org.qfox.jestful.server.JestfulVersionComparator"/>
    <bean id="jestfulConversionProvider" class="org.qfox.jestful.server.JestfulConversionProvider"/>

    <jestful:component id="jestful">
        <ref bean="decider"/>
        <ref bean="wrapper"/>
        <ref bean="mapper"/>
        <ref bean="resolver"/>
        <ref bean="handler"/>
        <ref bean="renderer"/>
    </jestful:component>

    <jestful:component id="decider">
        <bean class="org.qfox.jestful.server.decider.ContentTypeDecider"/>
        <bean class="org.qfox.jestful.server.decider.ContentCharsetDecider"/>
    </jestful:component>

    <jestful:component id="wrapper">
        <bean class="org.qfox.jestful.server.wrapper.RequestDecodeWrapper"/>
        <bean class="org.qfox.jestful.server.wrapper.ResponseEncodeWrapper"/>
    </jestful:component>

    <jestful:component id="mapper">
        <bean class="org.qfox.jestful.server.mapper.QueriesMapper"/>
        <bean class="org.qfox.jestful.server.mapper.HeadersMapper"/>
        <bean class="org.qfox.jestful.server.mapper.CookiesMapper"/>
    </jestful:component>

    <jestful:component id="resolver">
        <bean class="org.qfox.jestful.server.resolver.ParameterResolver"/>
    </jestful:component>

    <jestful:component id="handler">
        <bean class="org.qfox.jestful.server.handler.ResourceCacheHandler"/>
        <bean class="org.qfox.jestful.server.handler.MappingCacheHandler"/>
    </jestful:component>

    <jestful:component id="renderer">
        <bean class="org.qfox.jestful.server.renderer.ResultRenderer"/>
    </jestful:component>

    <bean class="org.qfox.jestful.server.resolver.PathResolver"/>
    <bean class="org.qfox.jestful.server.resolver.QueryResolver"/>
    <bean class="org.qfox.jestful.server.resolver.HeaderResolver"/>
    <bean class="org.qfox.jestful.server.resolver.CookieResolver"/>
    <bean class="org.qfox.jestful.server.resolver.ExtraResolver"/>
    <bean class="org.qfox.jestful.server.resolver.DefaultResolver"/>
    <bean class="org.qfox.jestful.server.resolver.SessionResolver"/>

    <bean class="org.qfox.jestful.server.renderer.TextRenderer"/>
    <bean class="org.qfox.jestful.server.renderer.StatusRenderer"/>
    <bean class="org.qfox.jestful.server.renderer.ForwardRenderer"/>
    <bean class="org.qfox.jestful.server.renderer.RedirectRenderer"/>

    <bean class="org.qfox.jestful.server.formatting.URLEncodedRequestDeserializer"/>
    <bean class="org.qfox.jestful.server.formatting.MultipartRequestDeserializer"/>

    <bean class="org.qfox.jestful.server.codec.DeflateRequestDecoder"/>
    <bean class="org.qfox.jestful.server.codec.DeflateResponseEncoder"/>
    <bean class="org.qfox.jestful.server.codec.GzipRequestDecoder"/>
    <bean class="org.qfox.jestful.server.codec.GzipResponseEncoder"/>
    <bean class="org.qfox.jestful.server.codec.IdentityRequestDecoder"/>
    <bean class="org.qfox.jestful.server.codec.IdentityResponseEncoder"/>
    <bean class="org.qfox.jestful.server.codec.NoneRequestDecoder"/>
    <bean class="org.qfox.jestful.server.codec.NoneResponseEncoder"/>

</beans>