<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jestful="http://www.qfox.org/schema/jestful"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.qfox.org/schema/jestful http://www.qfox.org/schema/jestful/jestful-1.0.0.xsd">

	<bean id="jestfulBeanContainer" class="org.qfox.jestful.server.JestfulBeanContainer" />
	<bean id="jestfulMappingRegistry" class="org.qfox.jestful.server.JestfulMappingRegistry" />
	<bean id="jestfulConversionProvider" class="org.qfox.jestful.server.JestfulConversionProvider" />

	<jestful:group id="jestful">
		<ref bean="resolver" />
		<ref bean="render" />
	</jestful:group>

	<jestful:group id="resolver">
		<bean class="org.qfox.jestful.server.resolver.HeaderParameterResolver" />
		<bean class="org.qfox.jestful.server.resolver.QueryParameterResolver" />
		<bean class="org.qfox.jestful.server.resolver.PathParameterResolver" />
		<bean class="org.qfox.jestful.server.resolver.BodyParameterResolver" />
		<bean class="org.qfox.jestful.server.resolver.CookieParameterResolver" />
		<bean class="org.qfox.jestful.server.resolver.ExtraParameterResolver" />
	</jestful:group>

	<jestful:group id="render">
		<bean class="org.qfox.jestful.server.render.DefaultResultRender" />
		<bean class="org.qfox.jestful.server.render.ForwardResultRender" />
		<bean class="org.qfox.jestful.server.render.RedirectResultRender" />
	</jestful:group>

	<bean class="org.qfox.jestful.server.URLEncodedRequestDeserializer" />
	<bean class="org.qfox.jestful.server.MultipartRequestDeserializer" />

</beans>

